building-color-lights.json
[{"id":"19f5abfa1b54c0d6","type":"tab","label":"WDX Example - Building Lights Colors","disabled":false,"info":"> \n    ██╗  ██╗ ██████╗ ████████╗███████╗██╗         ██╗     ██╗ ██████╗ ██╗  ██╗████████╗███████╗     ██████╗ ██████╗ ██╗      ██████╗ ██████╗ \n    ██║  ██║██╔═══██╗╚══██╔══╝██╔════╝██║         ██║     ██║██╔════╝ ██║  ██║╚══██╔══╝██╔════╝    ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗\n    ███████║██║   ██║   ██║   █████╗  ██║         ██║     ██║██║  ███╗███████║   ██║   ███████╗    ██║     ██║   ██║██║     ██║   ██║██████╔╝\n    ██╔══██║██║   ██║   ██║   ██╔══╝  ██║         ██║     ██║██║   ██║██╔══██║   ██║   ╚════██║    ██║     ██║   ██║██║     ██║   ██║██╔══██╗\n    ██║  ██║╚██████╔╝   ██║   ███████╗███████╗    ███████╗██║╚██████╔╝██║  ██║   ██║   ███████║    ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║\n    ╚═╝  ╚═╝ ╚═════╝    ╚═╝   ╚══════╝╚══════╝    ╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═╝   ╚═╝   ╚══════╝     ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝","env":[]},{"id":"366b145dbc4dd6bd","type":"comment","z":"19f5abfa1b54c0d6","name":"WDX Example - Building Lights","info":"\n    ██╗  ██╗ ██████╗ ████████╗███████╗██╗         ██╗     ██╗ ██████╗ ██╗  ██╗████████╗███████╗     ██████╗ ██████╗ ██╗      ██████╗ ██████╗ \n    ██║  ██║██╔═══██╗╚══██╔══╝██╔════╝██║         ██║     ██║██╔════╝ ██║  ██║╚══██╔══╝██╔════╝    ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗\n    ███████║██║   ██║   ██║   █████╗  ██║         ██║     ██║██║  ███╗███████║   ██║   ███████╗    ██║     ██║   ██║██║     ██║   ██║██████╔╝\n    ██╔══██║██║   ██║   ██║   ██╔══╝  ██║         ██║     ██║██║   ██║██╔══██║   ██║   ╚════██║    ██║     ██║   ██║██║     ██║   ██║██╔══██╗\n    ██║  ██║╚██████╔╝   ██║   ███████╗███████╗    ███████╗██║╚██████╔╝██║  ██║   ██║   ███████║    ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║\n    ╚═╝  ╚═╝ ╚═════╝    ╚═╝   ╚══════╝╚══════╝    ╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═╝   ╚═╝   ╚══════╝     ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝","x":170,"y":40,"wires":[]},{"id":"104d52859453cd5e","type":"inject","z":"19f5abfa1b54c0d6","name":"Number of floors: Default 10","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"floors","payload":"11","payloadType":"num","x":180,"y":160,"wires":[["ad4d4ec6041d9970"]]},{"id":"71c23d916ec62154","type":"inject","z":"19f5abfa1b54c0d6","name":"Number of rooms:Default 7","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"rooms","payload":"7","payloadType":"num","x":170,"y":280,"wires":[["ad4d4ec6041d9970"]]},{"id":"7c1bdc603c9eb38c","type":"comment","z":"19f5abfa1b54c0d6","name":"WDX Example - Building Lights - Configuration","info":"\n    ██╗  ██╗ ██████╗ ████████╗███████╗██╗         ██╗     ██╗ ██████╗ ██╗  ██╗████████╗███████╗     ██████╗ ██████╗ ██╗      ██████╗ ██████╗ \n    ██║  ██║██╔═══██╗╚══██╔══╝██╔════╝██║         ██║     ██║██╔════╝ ██║  ██║╚══██╔══╝██╔════╝    ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗\n    ███████║██║   ██║   ██║   █████╗  ██║         ██║     ██║██║  ███╗███████║   ██║   ███████╗    ██║     ██║   ██║██║     ██║   ██║██████╔╝\n    ██╔══██║██║   ██║   ██║   ██╔══╝  ██║         ██║     ██║██║   ██║██╔══██║   ██║   ╚════██║    ██║     ██║   ██║██║     ██║   ██║██╔══██╗\n    ██║  ██║╚██████╔╝   ██║   ███████╗███████╗    ███████╗██║╚██████╔╝██║  ██║   ██║   ███████║    ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║\n    ╚═╝  ╚═╝ ╚═════╝    ╚═╝   ╚══════╝╚══════╝    ╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═╝   ╚═╝   ╚══════╝     ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝","x":210,"y":100,"wires":[]},{"id":"988ef08008305dab","type":"debug","z":"19f5abfa1b54c0d6","name":"Configuration of floor and room count","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1210,"y":140,"wires":[]},{"id":"e5802a9351b0d349","type":"comment","z":"19f5abfa1b54c0d6","name":"WDX Example - Building Lights - Room Data Adapters Instance","info":"\n    ██╗  ██╗ ██████╗ ████████╗███████╗██╗         ██╗     ██╗ ██████╗ ██╗  ██╗████████╗███████╗     ██████╗ ██████╗ ██╗      ██████╗ ██████╗ \n    ██║  ██║██╔═══██╗╚══██╔══╝██╔════╝██║         ██║     ██║██╔════╝ ██║  ██║╚══██╔══╝██╔════╝    ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗\n    ███████║██║   ██║   ██║   █████╗  ██║         ██║     ██║██║  ███╗███████║   ██║   ███████╗    ██║     ██║   ██║██║     ██║   ██║██████╔╝\n    ██╔══██║██║   ██║   ██║   ██╔══╝  ██║         ██║     ██║██║   ██║██╔══██║   ██║   ╚════██║    ██║     ██║   ██║██║     ██║   ██║██╔══██╗\n    ██║  ██║╚██████╔╝   ██║   ███████╗███████╗    ███████╗██║╚██████╔╝██║  ██║   ██║   ███████║    ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║\n    ╚═╝  ╚═╝ ╚═════╝    ╚═╝   ╚══════╝╚══════╝    ╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═╝   ╚═╝   ╚══════╝     ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝","x":270,"y":380,"wires":[]},{"id":"1b398f7e6e9f217f","type":"comment","z":"19f5abfa1b54c0d6","name":"WDX Example -  Building Lights - Room Data Light Color Schema","info":"\n    ██╗  ██╗ ██████╗ ████████╗███████╗██╗         ██╗     ██╗ ██████╗ ██╗  ██╗████████╗███████╗     ██████╗ ██████╗ ██╗      ██████╗ ██████╗ \n    ██║  ██║██╔═══██╗╚══██╔══╝██╔════╝██║         ██║     ██║██╔════╝ ██║  ██║╚══██╔══╝██╔════╝    ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗\n    ███████║██║   ██║   ██║   █████╗  ██║         ██║     ██║██║  ███╗███████║   ██║   ███████╗    ██║     ██║   ██║██║     ██║   ██║██████╔╝\n    ██╔══██║██║   ██║   ██║   ██╔══╝  ██║         ██║     ██║██║   ██║██╔══██║   ██║   ╚════██║    ██║     ██║   ██║██║     ██║   ██║██╔══██╗\n    ██║  ██║╚██████╔╝   ██║   ███████╗███████╗    ███████╗██║╚██████╔╝██║  ██║   ██║   ███████║    ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║\n    ╚═╝  ╚═╝ ╚═════╝    ╚═╝   ╚══════╝╚══════╝    ╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═╝   ╚═╝   ╚══════╝     ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝","x":270,"y":1000,"wires":[]},{"id":"97b7e27a1f94589a","type":"comment","z":"19f5abfa1b54c0d6","name":"WDX Example - Building Lights - Data Light Color Schema Alarms","info":"\n    ██╗  ██╗ ██████╗ ████████╗███████╗██╗         ██╗     ██╗ ██████╗ ██╗  ██╗████████╗███████╗     ██████╗ ██████╗ ██╗      ██████╗ ██████╗ \n    ██║  ██║██╔═══██╗╚══██╔══╝██╔════╝██║         ██║     ██║██╔════╝ ██║  ██║╚══██╔══╝██╔════╝    ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗\n    ███████║██║   ██║   ██║   █████╗  ██║         ██║     ██║██║  ███╗███████║   ██║   ███████╗    ██║     ██║   ██║██║     ██║   ██║██████╔╝\n    ██╔══██║██║   ██║   ██║   ██╔══╝  ██║         ██║     ██║██║   ██║██╔══██║   ██║   ╚════██║    ██║     ██║   ██║██║     ██║   ██║██╔══██╗\n    ██║  ██║╚██████╔╝   ██║   ███████╗███████╗    ███████╗██║╚██████╔╝██║  ██║   ██║   ███████║    ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║\n    ╚═╝  ╚═╝ ╚═════╝    ╚═╝   ╚══════╝╚══════╝    ╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═╝   ╚═╝   ╚══════╝     ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝","x":270,"y":1040,"wires":[]},{"id":"ad4d4ec6041d9970","type":"join","z":"19f5abfa1b54c0d6","name":"Building Matrix Configuration ","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":510,"y":220,"wires":[["8edae5406dcc5f05"]],"inputLabels":["asdasdasd"],"outputLabels":["asdasdsad"]},{"id":"1ae77e5c4730c92b","type":"comment","z":"19f5abfa1b54c0d6","name":"WDX Example - Building Lights - Configuration Store in global","info":"\n    ██╗  ██╗ ██████╗ ████████╗███████╗██╗         ██╗     ██╗ ██████╗ ██╗  ██╗████████╗███████╗     ██████╗ ██████╗ ██╗      ██████╗ ██████╗ \n    ██║  ██║██╔═══██╗╚══██╔══╝██╔════╝██║         ██║     ██║██╔════╝ ██║  ██║╚══██╔══╝██╔════╝    ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗\n    ███████║██║   ██║   ██║   █████╗  ██║         ██║     ██║██║  ███╗███████║   ██║   ███████╗    ██║     ██║   ██║██║     ██║   ██║██████╔╝\n    ██╔══██║██║   ██║   ██║   ██╔══╝  ██║         ██║     ██║██║   ██║██╔══██║   ██║   ╚════██║    ██║     ██║   ██║██║     ██║   ██║██╔══██╗\n    ██║  ██║╚██████╔╝   ██║   ███████╗███████╗    ███████╗██║╚██████╔╝██║  ██║   ██║   ███████║    ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║\n    ╚═╝  ╚═╝ ╚═════╝    ╚═╝   ╚══════╝╚══════╝    ╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═╝   ╚═╝   ╚══════╝     ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝","x":1000,"y":100,"wires":[]},{"id":"8edae5406dcc5f05","type":"function","z":"19f5abfa1b54c0d6","name":"Store Configuration in global","func":"const settings={\n    floors:[],\n    rooms:[],\n};\n\nfor(let i=1; i<=msg.payload.floors;i++){\n    settings.floors.push(i);\n}\n\nfor (let i = 1; i <= msg.payload.rooms; i++) {\n    settings.rooms.push(i);\n}\n\n\nglobal.set(\"WDXExampleBuildingLightsConfiguration\", settings);\nreturn settings;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":140,"wires":[["988ef08008305dab"]]},{"id":"889cb999910c3b9c","type":"inject","z":"19f5abfa1b54c0d6","name":"Start Instances","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":460,"wires":[["6ba482863300a7ea"]]},{"id":"6ba482863300a7ea","type":"function","z":"19f5abfa1b54c0d6","name":"Retrieve Configuration from global","func":"const WDXExampleBuildingLightsConfiguration=  \nglobal.get(\"WDXExampleBuildingLightsConfiguration\");\nreturn WDXExampleBuildingLightsConfiguration;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":460,"wires":[["8a1dd6b709dd8bc5"]]},{"id":"d776ed637aec4e60","type":"comment","z":"19f5abfa1b54c0d6","name":"WDX Example - Building Lights - Data Light Color Schema Trends","info":"\n    ██╗  ██╗ ██████╗ ████████╗███████╗██╗         ██╗     ██╗ ██████╗ ██╗  ██╗████████╗███████╗     ██████╗ ██████╗ ██╗      ██████╗ ██████╗ \n    ██║  ██║██╔═══██╗╚══██╔══╝██╔════╝██║         ██║     ██║██╔════╝ ██║  ██║╚══██╔══╝██╔════╝    ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗\n    ███████║██║   ██║   ██║   █████╗  ██║         ██║     ██║██║  ███╗███████║   ██║   ███████╗    ██║     ██║   ██║██║     ██║   ██║██████╔╝\n    ██╔══██║██║   ██║   ██║   ██╔══╝  ██║         ██║     ██║██║   ██║██╔══██║   ██║   ╚════██║    ██║     ██║   ██║██║     ██║   ██║██╔══██╗\n    ██║  ██║╚██████╔╝   ██║   ███████╗███████╗    ███████╗██║╚██████╔╝██║  ██║   ██║   ███████║    ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║\n    ╚═╝  ╚═╝ ╚═════╝    ╚═╝   ╚══════╝╚══════╝    ╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═╝   ╚═╝   ╚══════╝     ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝","x":270,"y":1080,"wires":[]},{"id":"a6e1402635845e54","type":"comment","z":"19f5abfa1b54c0d6","name":"WDX Example - Building Lights - Data Light Color Schema Scripts","info":"\n    ██╗  ██╗ ██████╗ ████████╗███████╗██╗         ██╗     ██╗ ██████╗ ██╗  ██╗████████╗███████╗     ██████╗ ██████╗ ██╗      ██████╗ ██████╗ \n    ██║  ██║██╔═══██╗╚══██╔══╝██╔════╝██║         ██║     ██║██╔════╝ ██║  ██║╚══██╔══╝██╔════╝    ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗\n    ███████║██║   ██║   ██║   █████╗  ██║         ██║     ██║██║  ███╗███████║   ██║   ███████╗    ██║     ██║   ██║██║     ██║   ██║██████╔╝\n    ██╔══██║██║   ██║   ██║   ██╔══╝  ██║         ██║     ██║██║   ██║██╔══██║   ██║   ╚════██║    ██║     ██║   ██║██║     ██║   ██║██╔══██╗\n    ██║  ██║╚██████╔╝   ██║   ███████╗███████╗    ███████╗██║╚██████╔╝██║  ██║   ██║   ███████║    ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║\n    ╚═╝  ╚═╝ ╚═════╝    ╚═╝   ╚══════╝╚══════╝    ╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═╝   ╚═╝   ╚══════╝     ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝","x":270,"y":1120,"wires":[]},{"id":"8a1dd6b709dd8bc5","type":"array-loop","z":"19f5abfa1b54c0d6","name":"Loop Floors","key":"al8a1dd6b709dd8bc5","keyType":"msg","reset":false,"resetValue":"value-null","array":"floors","arrayType":"msg","x":230,"y":620,"wires":[[],["a80334c266890743"]]},{"id":"a80334c266890743","type":"function","z":"19f5abfa1b54c0d6","name":"Process Floor","func":"msg.floor=msg.payload;\nconst newMessage={\n    floor:msg.payload,\n    room:0,\n    floors:msg.floors,\n    rooms:msg.rooms,\n    payload : 0\n};\nreturn newMessage;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":720,"wires":[["1fa5870231118f32"]]},{"id":"e2d3da3d330ce345","type":"comment","z":"19f5abfa1b54c0d6","name":"Process Floors","info":"","x":120,"y":560,"wires":[]},{"id":"5af06625310b8c8e","type":"comment","z":"19f5abfa1b54c0d6","name":"Process Rooms","info":"","x":580,"y":560,"wires":[]},{"id":"1fa5870231118f32","type":"array-loop","z":"19f5abfa1b54c0d6","name":"Loop Rooms","key":"al8a1dd6b709dd8bc5","keyType":"msg","reset":false,"resetValue":"value-null","array":"rooms","arrayType":"msg","x":570,"y":620,"wires":[["de4cfb561e95ee78"],["4fc5ba45ec3f9081","b1efddedbcace601"]]},{"id":"4fc5ba45ec3f9081","type":"function","z":"19f5abfa1b54c0d6","name":"Process Room","func":"msg.room=msg.payload;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":720,"wires":[["1fa5870231118f32"]]},{"id":"de4cfb561e95ee78","type":"function","z":"19f5abfa1b54c0d6","name":"Continue floor","func":"\n\nconst newMessage={\n    floors:msg.floors,\n    rooms:msg.rooms,\n    payload:msg.floor\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":620,"wires":[["8a1dd6b709dd8bc5"]]},{"id":"b1efddedbcace601","type":"debug","z":"19f5abfa1b54c0d6","name":"Store Configuration","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":720,"wires":[]}]