flow.json
[
    {
        "id": "25cd250a657945d4",
        "type": "tab",
        "label": "WDX Example - Trends",
        "disabled": false,
        "info": "# WDX Example - Trends",
        "env": []
    },
    {
        "id": "8ff26838dcd98fe5",
        "type": "group",
        "z": "25cd250a657945d4",
        "name": "WDX Example - Trends - List",
        "style": {
            "label": true
        },
        "nodes": [
            "88075cb840dfcf23",
            "7fc27c5fe0c4b803",
            "e914ce9c6d39b8f5",
            "4bd39486dd4e8f28"
        ],
        "x": 34,
        "y": 179,
        "w": 1012,
        "h": 162
    },
    {
        "id": "0344c1c2116636cc",
        "type": "group",
        "z": "25cd250a657945d4",
        "name": "WDX Example - Trends - Save",
        "style": {
            "label": true
        },
        "nodes": [
            "d8cadf102d396d5f",
            "e41103290b15597b",
            "6271e43cc8f3c210",
            "127c416ab85b8bfd"
        ],
        "x": 34,
        "y": 479,
        "w": 1012,
        "h": 162
    },
    {
        "id": "c63837a54591305d",
        "type": "group",
        "z": "25cd250a657945d4",
        "name": "WDX Example - Trends - Detail",
        "style": {
            "label": true
        },
        "nodes": [
            "f1f05f696fa6d9da",
            "e1b4ad2e8461722d",
            "a3c437866fa645e3",
            "43c27d35882cdd1e"
        ],
        "x": 34,
        "y": 779,
        "w": 1012,
        "h": 162
    },
    {
        "id": "6766ba271202b11d",
        "type": "group",
        "z": "25cd250a657945d4",
        "name": "WDX Example - Trends - Delete",
        "style": {
            "label": true
        },
        "nodes": [
            "f33b152aca1a90f2",
            "a37c6cb040dc5b97",
            "9560ba7621238317",
            "997643e65d969904"
        ],
        "x": 34,
        "y": 2479,
        "w": 1012,
        "h": 162
    },
    {
        "id": "bff9a4d802a48ee7",
        "type": "group",
        "z": "25cd250a657945d4",
        "name": "WDX Example - Trend - Monitor",
        "style": {
            "label": true
        },
        "nodes": [
            "f5a9141c1e8bac21",
            "1bdc2531e44c6682",
            "51e6db3319e56cdb",
            "cc65dfa277f9627a",
            "dedfba38be4cfcc4",
            "9ec1c83b63574886",
            "f0e470072c237781",
            "8ff8399c834d1711",
            "e6556a9f8f194beb",
            "a76a4fe51a84995e",
            "45db917c860ccb9c"
        ],
        "x": 34,
        "y": 1079,
        "w": 1432,
        "h": 362
    },
    {
        "id": "fd83da35700742eb",
        "type": "group",
        "z": "25cd250a657945d4",
        "name": "WDX Example - Trends - Export Image",
        "style": {
            "label": true
        },
        "nodes": [
            "7ac577805dc1aff4",
            "a855fcba93d78dd4",
            "fbe6ff30e7901a2f",
            "4babe39f0405cb1e"
        ],
        "x": 34,
        "y": 1579,
        "w": 1012,
        "h": 162
    },
    {
        "id": "e4d6e4ca6720d16b",
        "type": "group",
        "z": "25cd250a657945d4",
        "name": "WDX Example - Trends - Export SQLite",
        "style": {
            "label": true
        },
        "nodes": [
            "910effc99bfe2ca2",
            "78580e1a91da6bcb",
            "4946561879694527",
            "2c9931c3ffc5a4cb"
        ],
        "x": 34,
        "y": 1879,
        "w": 1012,
        "h": 162
    },
    {
        "id": "58a1bb0b82362539",
        "type": "group",
        "z": "25cd250a657945d4",
        "name": "WDX Example - Trends - Export CSV",
        "style": {
            "label": true
        },
        "nodes": [
            "6cef0c54235d157d",
            "e43ab0aeb1185054",
            "eb71ea4212aed72a",
            "bf49694cadbb28fb"
        ],
        "x": 34,
        "y": 2179,
        "w": 1012,
        "h": 162
    },
    {
        "id": "037eef7354793bab",
        "type": "comment",
        "z": "25cd250a657945d4",
        "name": "WDX Example - Trends",
        "info": "# WDX Example - Trends",
        "x": 140,
        "y": 40,
        "wires": []
    },
    {
        "id": "deeaa9177c69001b",
        "type": "comment",
        "z": "25cd250a657945d4",
        "name": "WDX Example - Trends - List",
        "info": "# WDX Example - Trends - List",
        "x": 160,
        "y": 140,
        "wires": []
    },
    {
        "id": "737e867eb4c907cc",
        "type": "comment",
        "z": "25cd250a657945d4",
        "name": "WDX Example - Trends - Save",
        "info": "# WDX Example - Trends - Save",
        "x": 160,
        "y": 440,
        "wires": []
    },
    {
        "id": "7fc27c5fe0c4b803",
        "type": "inject",
        "z": "25cd250a657945d4",
        "g": "8ff26838dcd98fe5",
        "name": "WDX Example - Trends List Request",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 260,
        "wires": [
            [
                "4bd39486dd4e8f28"
            ]
        ]
    },
    {
        "id": "88075cb840dfcf23",
        "type": "debug",
        "z": "25cd250a657945d4",
        "g": "8ff26838dcd98fe5",
        "name": "Sucess",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 220,
        "wires": []
    },
    {
        "id": "e914ce9c6d39b8f5",
        "type": "debug",
        "z": "25cd250a657945d4",
        "g": "8ff26838dcd98fe5",
        "name": "Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 300,
        "wires": []
    },
    {
        "id": "d8cadf102d396d5f",
        "type": "inject",
        "z": "25cd250a657945d4",
        "g": "0344c1c2116636cc",
        "name": "WDX Example - Trends Save Request",
        "props": [
            {
                "p": "trend",
                "v": "{\"name\":\"Example Virtual Store Test Variable\",\"dataPoolInterval\":1000,\"active\":false,\"showLines\":true,\"showLabels\":true,\"intervalPicker\":true,\"exportCurrentViewButton\":true,\"exportFullDataButton\":true,\"resetButton\":true,\"legend\":true,\"tooltips\":true,\"extendedTouchFeatures\":true,\"zoom\":true,\"xAxis\":{\"label\":\"Time Series\",\"format\":null,\"defaultFormat\":\"HumanReadable\",\"visible\":true},\"yAxis\":[{\"uuid\":\"ed1c1338-6fbe-4bdd-ad76-853aa951a8a7\",\"name\":\"Value\",\"label\":\"Value\",\"min\":null,\"max\":null,\"position\":\"left\",\"color\":\"#000000\",\"visible\":true}],\"dataSet\":[{\"uuid\":\"0e7e12ef-d9c7-48a9-ae98-f4b33b35d64f\",\"name\":\"test\",\"label\":\"test\",\"dataSchemaPath\":\"Virtual.virtual-store.test\",\"color\":\"#00ff19\",\"yAxis\":\"ed1c1338-6fbe-4bdd-ad76-853aa951a8a7\",\"enabled\":true,\"visible\":true,\"valueSnapshot\":null}],\"uuid\":\"949d9259-8756-45f7-a7b9-cc8e661d2257\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 230,
        "y": 560,
        "wires": [
            [
                "127c416ab85b8bfd"
            ]
        ]
    },
    {
        "id": "85b1cb642cf52f19",
        "type": "comment",
        "z": "25cd250a657945d4",
        "name": "WDX Example - Trends - Detail",
        "info": "# WDX Example - Trends - Detail",
        "x": 170,
        "y": 740,
        "wires": []
    },
    {
        "id": "f1f05f696fa6d9da",
        "type": "inject",
        "z": "25cd250a657945d4",
        "g": "c63837a54591305d",
        "name": "WDX Example - Trends Detail Request",
        "props": [
            {
                "p": "trendUUID",
                "v": "949d9259-8756-45f7-a7b9-cc8e661d2257",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 230,
        "y": 860,
        "wires": [
            [
                "43c27d35882cdd1e"
            ]
        ]
    },
    {
        "id": "e41103290b15597b",
        "type": "debug",
        "z": "25cd250a657945d4",
        "g": "0344c1c2116636cc",
        "name": "Sucess",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 520,
        "wires": []
    },
    {
        "id": "6271e43cc8f3c210",
        "type": "debug",
        "z": "25cd250a657945d4",
        "g": "0344c1c2116636cc",
        "name": "Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 600,
        "wires": []
    },
    {
        "id": "e1b4ad2e8461722d",
        "type": "debug",
        "z": "25cd250a657945d4",
        "g": "c63837a54591305d",
        "name": "Sucess",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 820,
        "wires": []
    },
    {
        "id": "a3c437866fa645e3",
        "type": "debug",
        "z": "25cd250a657945d4",
        "g": "c63837a54591305d",
        "name": "Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 900,
        "wires": []
    },
    {
        "id": "4bd39486dd4e8f28",
        "type": "wago.wdx.trend.list",
        "z": "25cd250a657945d4",
        "g": "8ff26838dcd98fe5",
        "name": "",
        "client": "3949037aa7f8a94a",
        "x": 610,
        "y": 260,
        "wires": [
            [
                "88075cb840dfcf23"
            ],
            [
                "e914ce9c6d39b8f5"
            ]
        ]
    },
    {
        "id": "43c27d35882cdd1e",
        "type": "wago.wdx.trend.detail",
        "z": "25cd250a657945d4",
        "g": "c63837a54591305d",
        "name": "",
        "client": "3949037aa7f8a94a",
        "x": 580,
        "y": 860,
        "wires": [
            [
                "e1b4ad2e8461722d"
            ],
            [
                "a3c437866fa645e3"
            ]
        ]
    },
    {
        "id": "e4ba8daf3ac0e7b8",
        "type": "comment",
        "z": "25cd250a657945d4",
        "name": "WDX Example - Trends - Delete",
        "info": "# WDX Example - Trends - Delete",
        "x": 170,
        "y": 2440,
        "wires": []
    },
    {
        "id": "f33b152aca1a90f2",
        "type": "inject",
        "z": "25cd250a657945d4",
        "g": "6766ba271202b11d",
        "name": "WDX Example - Trends Delete Request",
        "props": [
            {
                "p": "trendUUID",
                "v": "949d9259-8756-45f7-a7b9-cc8e661d2257",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 230,
        "y": 2560,
        "wires": [
            [
                "997643e65d969904"
            ]
        ]
    },
    {
        "id": "a37c6cb040dc5b97",
        "type": "debug",
        "z": "25cd250a657945d4",
        "g": "6766ba271202b11d",
        "name": "Sucess",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 2520,
        "wires": []
    },
    {
        "id": "9560ba7621238317",
        "type": "debug",
        "z": "25cd250a657945d4",
        "g": "6766ba271202b11d",
        "name": "Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 2600,
        "wires": []
    },
    {
        "id": "997643e65d969904",
        "type": "wago.wdx.trend.delete",
        "z": "25cd250a657945d4",
        "g": "6766ba271202b11d",
        "name": "",
        "client": "3949037aa7f8a94a",
        "x": 640,
        "y": 2560,
        "wires": [
            [
                "a37c6cb040dc5b97"
            ],
            [
                "9560ba7621238317"
            ]
        ]
    },
    {
        "id": "127c416ab85b8bfd",
        "type": "wago.wdx.trend.save",
        "z": "25cd250a657945d4",
        "g": "0344c1c2116636cc",
        "name": "",
        "client": "3949037aa7f8a94a",
        "trend": "",
        "x": 600,
        "y": 560,
        "wires": [
            [
                "e41103290b15597b"
            ],
            [
                "6271e43cc8f3c210"
            ]
        ]
    },
    {
        "id": "bea5bd918e1fec16",
        "type": "comment",
        "z": "25cd250a657945d4",
        "name": "WDX Example - Trend - Monitor",
        "info": "# WDX Example - Trend - Monitor",
        "x": 170,
        "y": 1040,
        "wires": []
    },
    {
        "id": "f5a9141c1e8bac21",
        "type": "inject",
        "z": "25cd250a657945d4",
        "g": "bff9a4d802a48ee7",
        "name": "WDX Example - Trend - Monitor Subscribe Request",
        "props": [
            {
                "p": "trendUUID",
                "v": "949d9259-8756-45f7-a7b9-cc8e661d2257",
                "vt": "str"
            },
            {
                "p": "subscribe",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 270,
        "y": 1160,
        "wires": [
            [
                "45db917c860ccb9c"
            ]
        ]
    },
    {
        "id": "1bdc2531e44c6682",
        "type": "debug",
        "z": "25cd250a657945d4",
        "g": "bff9a4d802a48ee7",
        "name": "Update",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 1160,
        "wires": []
    },
    {
        "id": "51e6db3319e56cdb",
        "type": "debug",
        "z": "25cd250a657945d4",
        "g": "bff9a4d802a48ee7",
        "name": "Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 1280,
        "wires": []
    },
    {
        "id": "cc65dfa277f9627a",
        "type": "comment",
        "z": "25cd250a657945d4",
        "g": "bff9a4d802a48ee7",
        "name": "WDX Example - Trend - Monitor Subscribe",
        "info": "# WDX Example - Trend - Monitor Subscribe",
        "x": 220,
        "y": 1120,
        "wires": []
    },
    {
        "id": "dedfba38be4cfcc4",
        "type": "comment",
        "z": "25cd250a657945d4",
        "g": "bff9a4d802a48ee7",
        "name": "WDX Example - Trend - Monitor Unubscribe",
        "info": "# WDX Example - Trend - Monitor Unubscribe",
        "x": 230,
        "y": 1340,
        "wires": []
    },
    {
        "id": "9ec1c83b63574886",
        "type": "inject",
        "z": "25cd250a657945d4",
        "g": "bff9a4d802a48ee7",
        "name": "WDX Example - Trend - Monitor Unubscribe Request",
        "props": [
            {
                "p": "path",
                "v": "949d9259-8756-45f7-a7b9-cc8e661d2257",
                "vt": "str"
            },
            {
                "p": "subscribe",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 270,
        "y": 1380,
        "wires": [
            [
                "45db917c860ccb9c"
            ]
        ]
    },
    {
        "id": "f0e470072c237781",
        "type": "debug",
        "z": "25cd250a657945d4",
        "g": "bff9a4d802a48ee7",
        "name": "Complete",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 1400,
        "wires": []
    },
    {
        "id": "8ff8399c834d1711",
        "type": "comment",
        "z": "25cd250a657945d4",
        "g": "bff9a4d802a48ee7",
        "name": "WDX Example - Trend - Monitor Subscribe Complete Message",
        "info": "#WDX Example - Trend - Monitor Subscribe Complete Message",
        "x": 1220,
        "y": 1360,
        "wires": []
    },
    {
        "id": "e6556a9f8f194beb",
        "type": "comment",
        "z": "25cd250a657945d4",
        "g": "bff9a4d802a48ee7",
        "name": "WDX Example - Trend - Monitor Subscribe Error Message",
        "info": "# WDX Example - Trend - Monitor Subscribe Error Message",
        "x": 1210,
        "y": 1240,
        "wires": []
    },
    {
        "id": "a76a4fe51a84995e",
        "type": "comment",
        "z": "25cd250a657945d4",
        "g": "bff9a4d802a48ee7",
        "name": "WDX Example - Trend - Monitor Subscribe Updates Message",
        "info": "# WDX Example - Trend - Monitor Subscribe Updates Message",
        "x": 1220,
        "y": 1120,
        "wires": []
    },
    {
        "id": "45db917c860ccb9c",
        "type": "wago.wdx.trend.monitor",
        "z": "25cd250a657945d4",
        "g": "bff9a4d802a48ee7",
        "name": "",
        "client": "3949037aa7f8a94a",
        "x": 680,
        "y": 1280,
        "wires": [
            [
                "1bdc2531e44c6682"
            ],
            [
                "51e6db3319e56cdb"
            ],
            [
                "f0e470072c237781"
            ]
        ]
    },
    {
        "id": "3f63e897c1464efc",
        "type": "comment",
        "z": "25cd250a657945d4",
        "name": "WDX Example - Trends - Export Image",
        "info": "# WDX Example - Trends - Export Image",
        "x": 190,
        "y": 1540,
        "wires": []
    },
    {
        "id": "7ac577805dc1aff4",
        "type": "inject",
        "z": "25cd250a657945d4",
        "g": "fd83da35700742eb",
        "name": "WDX Example - Trends - Export Image Request",
        "props": [
            {
                "p": "trendUUID",
                "v": "949d9259-8756-45f7-a7b9-cc8e661d2257",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 260,
        "y": 1660,
        "wires": [
            [
                "4babe39f0405cb1e"
            ]
        ]
    },
    {
        "id": "a855fcba93d78dd4",
        "type": "debug",
        "z": "25cd250a657945d4",
        "g": "fd83da35700742eb",
        "name": "Sucess",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 1620,
        "wires": []
    },
    {
        "id": "fbe6ff30e7901a2f",
        "type": "debug",
        "z": "25cd250a657945d4",
        "g": "fd83da35700742eb",
        "name": "Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 1700,
        "wires": []
    },
    {
        "id": "4babe39f0405cb1e",
        "type": "wago.wdx.trend.export-image",
        "z": "25cd250a657945d4",
        "g": "fd83da35700742eb",
        "name": "",
        "client": "3949037aa7f8a94a",
        "x": 660,
        "y": 1660,
        "wires": [
            [
                "a855fcba93d78dd4"
            ],
            [
                "fbe6ff30e7901a2f"
            ]
        ]
    },
    {
        "id": "a1fea661cf2a6c20",
        "type": "comment",
        "z": "25cd250a657945d4",
        "name": "WDX Example - Trends - Export CSV",
        "info": "# WDX Example - Trends - Export CSV",
        "x": 190,
        "y": 2140,
        "wires": []
    },
    {
        "id": "910effc99bfe2ca2",
        "type": "inject",
        "z": "25cd250a657945d4",
        "g": "e4d6e4ca6720d16b",
        "name": "WDX Example - Trends - Export SQLite Request",
        "props": [
            {
                "p": "trendUUID",
                "v": "949d9259-8756-45f7-a7b9-cc8e661d2257",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 260,
        "y": 1960,
        "wires": [
            [
                "2c9931c3ffc5a4cb"
            ]
        ]
    },
    {
        "id": "78580e1a91da6bcb",
        "type": "debug",
        "z": "25cd250a657945d4",
        "g": "e4d6e4ca6720d16b",
        "name": "Sucess",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 1920,
        "wires": []
    },
    {
        "id": "4946561879694527",
        "type": "debug",
        "z": "25cd250a657945d4",
        "g": "e4d6e4ca6720d16b",
        "name": "Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 2000,
        "wires": []
    },
    {
        "id": "da65ba2b43a7afa9",
        "type": "comment",
        "z": "25cd250a657945d4",
        "name": "WDX Example - Trends - Export SQLite",
        "info": "# WDX Example - Trends - Export SQLite",
        "x": 190,
        "y": 1840,
        "wires": []
    },
    {
        "id": "6cef0c54235d157d",
        "type": "inject",
        "z": "25cd250a657945d4",
        "g": "58a1bb0b82362539",
        "name": "WDX Example - Trends - Export CSV Request",
        "props": [
            {
                "p": "trendUUID",
                "v": "949d9259-8756-45f7-a7b9-cc8e661d2257",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 250,
        "y": 2260,
        "wires": [
            [
                "bf49694cadbb28fb"
            ]
        ]
    },
    {
        "id": "e43ab0aeb1185054",
        "type": "debug",
        "z": "25cd250a657945d4",
        "g": "58a1bb0b82362539",
        "name": "Sucess",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 2220,
        "wires": []
    },
    {
        "id": "eb71ea4212aed72a",
        "type": "debug",
        "z": "25cd250a657945d4",
        "g": "58a1bb0b82362539",
        "name": "Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 2300,
        "wires": []
    },
    {
        "id": "bf49694cadbb28fb",
        "type": "wago.wdx.trend.export-csv",
        "z": "25cd250a657945d4",
        "g": "58a1bb0b82362539",
        "name": "",
        "client": "3949037aa7f8a94a",
        "x": 660,
        "y": 2260,
        "wires": [
            [
                "e43ab0aeb1185054"
            ],
            [
                "eb71ea4212aed72a"
            ]
        ]
    },
    {
        "id": "2c9931c3ffc5a4cb",
        "type": "wago.wdx.trend.export-sqlite",
        "z": "25cd250a657945d4",
        "g": "e4d6e4ca6720d16b",
        "name": "",
        "client": "3949037aa7f8a94a",
        "x": 660,
        "y": 1960,
        "wires": [
            [
                "78580e1a91da6bcb"
            ],
            [
                "4946561879694527"
            ]
        ]
    },
    {
        "id": "3949037aa7f8a94a",
        "type": "wago.wdx.web-socket",
        "url": "ws://localhost:82"
    }
]