flow.json
[
    {
        "id": "b4d75ba3ddc22023",
        "type": "tab",
        "label": "WDX Example - Building Lights Colors",
        "disabled": false,
        "info": "> \n    ██╗  ██╗ ██████╗ ████████╗███████╗██╗         ██╗     ██╗ ██████╗ ██╗  ██╗████████╗███████╗     ██████╗ ██████╗ ██╗      ██████╗ ██████╗ \n    ██║  ██║██╔═══██╗╚══██╔══╝██╔════╝██║         ██║     ██║██╔════╝ ██║  ██║╚══██╔══╝██╔════╝    ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗\n    ███████║██║   ██║   ██║   █████╗  ██║         ██║     ██║██║  ███╗███████║   ██║   ███████╗    ██║     ██║   ██║██║     ██║   ██║██████╔╝\n    ██╔══██║██║   ██║   ██║   ██╔══╝  ██║         ██║     ██║██║   ██║██╔══██║   ██║   ╚════██║    ██║     ██║   ██║██║     ██║   ██║██╔══██╗\n    ██║  ██║╚██████╔╝   ██║   ███████╗███████╗    ███████╗██║╚██████╔╝██║  ██║   ██║   ███████║    ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║\n    ╚═╝  ╚═╝ ╚═════╝    ╚═╝   ╚══════╝╚══════╝    ╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═╝   ╚═╝   ╚══════╝     ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝",
        "env": []
    },
    {
        "id": "0bc683672ddabcaf",
        "type": "comment",
        "z": "b4d75ba3ddc22023",
        "name": "WDX Example - Building Lights",
        "info": "\n    ██╗  ██╗ ██████╗ ████████╗███████╗██╗         ██╗     ██╗ ██████╗ ██╗  ██╗████████╗███████╗     ██████╗ ██████╗ ██╗      ██████╗ ██████╗ \n    ██║  ██║██╔═══██╗╚══██╔══╝██╔════╝██║         ██║     ██║██╔════╝ ██║  ██║╚══██╔══╝██╔════╝    ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗\n    ███████║██║   ██║   ██║   █████╗  ██║         ██║     ██║██║  ███╗███████║   ██║   ███████╗    ██║     ██║   ██║██║     ██║   ██║██████╔╝\n    ██╔══██║██║   ██║   ██║   ██╔══╝  ██║         ██║     ██║██║   ██║██╔══██║   ██║   ╚════██║    ██║     ██║   ██║██║     ██║   ██║██╔══██╗\n    ██║  ██║╚██████╔╝   ██║   ███████╗███████╗    ███████╗██║╚██████╔╝██║  ██║   ██║   ███████║    ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║\n    ╚═╝  ╚═╝ ╚═════╝    ╚═╝   ╚══════╝╚══════╝    ╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═╝   ╚═╝   ╚══════╝     ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝",
        "x": 170,
        "y": 40,
        "wires": []
    },
    {
        "id": "c296341ca79574ae",
        "type": "inject",
        "z": "b4d75ba3ddc22023",
        "name": "Number of floors: Default 10",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "floors",
        "payload": "11",
        "payloadType": "num",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "e62a6145740e3ef2"
            ]
        ]
    },
    {
        "id": "a64c4b0c0cb792bb",
        "type": "inject",
        "z": "b4d75ba3ddc22023",
        "name": "Number of rooms:Default 7",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "rooms",
        "payload": "7",
        "payloadType": "num",
        "x": 170,
        "y": 280,
        "wires": [
            [
                "e62a6145740e3ef2"
            ]
        ]
    },
    {
        "id": "536f392986a69423",
        "type": "comment",
        "z": "b4d75ba3ddc22023",
        "name": "WDX Example - Building Lights - Configuration",
        "info": "\n    ██╗  ██╗ ██████╗ ████████╗███████╗██╗         ██╗     ██╗ ██████╗ ██╗  ██╗████████╗███████╗     ██████╗ ██████╗ ██╗      ██████╗ ██████╗ \n    ██║  ██║██╔═══██╗╚══██╔══╝██╔════╝██║         ██║     ██║██╔════╝ ██║  ██║╚══██╔══╝██╔════╝    ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗\n    ███████║██║   ██║   ██║   █████╗  ██║         ██║     ██║██║  ███╗███████║   ██║   ███████╗    ██║     ██║   ██║██║     ██║   ██║██████╔╝\n    ██╔══██║██║   ██║   ██║   ██╔══╝  ██║         ██║     ██║██║   ██║██╔══██║   ██║   ╚════██║    ██║     ██║   ██║██║     ██║   ██║██╔══██╗\n    ██║  ██║╚██████╔╝   ██║   ███████╗███████╗    ███████╗██║╚██████╔╝██║  ██║   ██║   ███████║    ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║\n    ╚═╝  ╚═╝ ╚═════╝    ╚═╝   ╚══════╝╚══════╝    ╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═╝   ╚═╝   ╚══════╝     ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝",
        "x": 210,
        "y": 100,
        "wires": []
    },
    {
        "id": "6c3aa5a662633352",
        "type": "debug",
        "z": "b4d75ba3ddc22023",
        "name": "Configuration of floor and room count",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 140,
        "wires": []
    },
    {
        "id": "11695e6b3a119253",
        "type": "comment",
        "z": "b4d75ba3ddc22023",
        "name": "WDX Example - Building Lights - Room Data Adapters Instance",
        "info": "\n    ██╗  ██╗ ██████╗ ████████╗███████╗██╗         ██╗     ██╗ ██████╗ ██╗  ██╗████████╗███████╗     ██████╗ ██████╗ ██╗      ██████╗ ██████╗ \n    ██║  ██║██╔═══██╗╚══██╔══╝██╔════╝██║         ██║     ██║██╔════╝ ██║  ██║╚══██╔══╝██╔════╝    ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗\n    ███████║██║   ██║   ██║   █████╗  ██║         ██║     ██║██║  ███╗███████║   ██║   ███████╗    ██║     ██║   ██║██║     ██║   ██║██████╔╝\n    ██╔══██║██║   ██║   ██║   ██╔══╝  ██║         ██║     ██║██║   ██║██╔══██║   ██║   ╚════██║    ██║     ██║   ██║██║     ██║   ██║██╔══██╗\n    ██║  ██║╚██████╔╝   ██║   ███████╗███████╗    ███████╗██║╚██████╔╝██║  ██║   ██║   ███████║    ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║\n    ╚═╝  ╚═╝ ╚═════╝    ╚═╝   ╚══════╝╚══════╝    ╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═╝   ╚═╝   ╚══════╝     ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝",
        "x": 270,
        "y": 380,
        "wires": []
    },
    {
        "id": "1aef7f2701caff50",
        "type": "comment",
        "z": "b4d75ba3ddc22023",
        "name": "WDX Example -  Building Lights - Room Data Light Color Schema",
        "info": "\n    ██╗  ██╗ ██████╗ ████████╗███████╗██╗         ██╗     ██╗ ██████╗ ██╗  ██╗████████╗███████╗     ██████╗ ██████╗ ██╗      ██████╗ ██████╗ \n    ██║  ██║██╔═══██╗╚══██╔══╝██╔════╝██║         ██║     ██║██╔════╝ ██║  ██║╚══██╔══╝██╔════╝    ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗\n    ███████║██║   ██║   ██║   █████╗  ██║         ██║     ██║██║  ███╗███████║   ██║   ███████╗    ██║     ██║   ██║██║     ██║   ██║██████╔╝\n    ██╔══██║██║   ██║   ██║   ██╔══╝  ██║         ██║     ██║██║   ██║██╔══██║   ██║   ╚════██║    ██║     ██║   ██║██║     ██║   ██║██╔══██╗\n    ██║  ██║╚██████╔╝   ██║   ███████╗███████╗    ███████╗██║╚██████╔╝██║  ██║   ██║   ███████║    ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║\n    ╚═╝  ╚═╝ ╚═════╝    ╚═╝   ╚══════╝╚══════╝    ╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═╝   ╚═╝   ╚══════╝     ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝",
        "x": 270,
        "y": 1000,
        "wires": []
    },
    {
        "id": "0eb5c56355085246",
        "type": "comment",
        "z": "b4d75ba3ddc22023",
        "name": "WDX Example - Building Lights - Data Light Color Schema Alarms",
        "info": "\n    ██╗  ██╗ ██████╗ ████████╗███████╗██╗         ██╗     ██╗ ██████╗ ██╗  ██╗████████╗███████╗     ██████╗ ██████╗ ██╗      ██████╗ ██████╗ \n    ██║  ██║██╔═══██╗╚══██╔══╝██╔════╝██║         ██║     ██║██╔════╝ ██║  ██║╚══██╔══╝██╔════╝    ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗\n    ███████║██║   ██║   ██║   █████╗  ██║         ██║     ██║██║  ███╗███████║   ██║   ███████╗    ██║     ██║   ██║██║     ██║   ██║██████╔╝\n    ██╔══██║██║   ██║   ██║   ██╔══╝  ██║         ██║     ██║██║   ██║██╔══██║   ██║   ╚════██║    ██║     ██║   ██║██║     ██║   ██║██╔══██╗\n    ██║  ██║╚██████╔╝   ██║   ███████╗███████╗    ███████╗██║╚██████╔╝██║  ██║   ██║   ███████║    ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║\n    ╚═╝  ╚═╝ ╚═════╝    ╚═╝   ╚══════╝╚══════╝    ╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═╝   ╚═╝   ╚══════╝     ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝",
        "x": 270,
        "y": 1040,
        "wires": []
    },
    {
        "id": "e62a6145740e3ef2",
        "type": "join",
        "z": "b4d75ba3ddc22023",
        "name": "Building Matrix Configuration ",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 510,
        "y": 220,
        "wires": [
            [
                "11483760c0b496b4"
            ]
        ],
        "inputLabels": [
            "asdasdasd"
        ],
        "outputLabels": [
            "asdasdsad"
        ]
    },
    {
        "id": "f5f4148f82765be8",
        "type": "comment",
        "z": "b4d75ba3ddc22023",
        "name": "WDX Example - Building Lights - Configuration Store in global",
        "info": "\n    ██╗  ██╗ ██████╗ ████████╗███████╗██╗         ██╗     ██╗ ██████╗ ██╗  ██╗████████╗███████╗     ██████╗ ██████╗ ██╗      ██████╗ ██████╗ \n    ██║  ██║██╔═══██╗╚══██╔══╝██╔════╝██║         ██║     ██║██╔════╝ ██║  ██║╚══██╔══╝██╔════╝    ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗\n    ███████║██║   ██║   ██║   █████╗  ██║         ██║     ██║██║  ███╗███████║   ██║   ███████╗    ██║     ██║   ██║██║     ██║   ██║██████╔╝\n    ██╔══██║██║   ██║   ██║   ██╔══╝  ██║         ██║     ██║██║   ██║██╔══██║   ██║   ╚════██║    ██║     ██║   ██║██║     ██║   ██║██╔══██╗\n    ██║  ██║╚██████╔╝   ██║   ███████╗███████╗    ███████╗██║╚██████╔╝██║  ██║   ██║   ███████║    ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║\n    ╚═╝  ╚═╝ ╚═════╝    ╚═╝   ╚══════╝╚══════╝    ╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═╝   ╚═╝   ╚══════╝     ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝",
        "x": 1000,
        "y": 100,
        "wires": []
    },
    {
        "id": "11483760c0b496b4",
        "type": "function",
        "z": "b4d75ba3ddc22023",
        "name": "Store Configuration in global",
        "func": "const settings={\n    floors:[],\n    rooms:[],\n};\n\nfor(let i=1; i<=msg.payload.floors;i++){\n    settings.floors.push(i);\n}\n\nfor (let i = 1; i <= msg.payload.rooms; i++) {\n    settings.rooms.push(i);\n}\n\n\nglobal.set(\"WDXExampleBuildingLightsConfiguration\", settings);\nreturn settings;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 140,
        "wires": [
            [
                "6c3aa5a662633352"
            ]
        ]
    },
    {
        "id": "40ad95da38aa61bc",
        "type": "inject",
        "z": "b4d75ba3ddc22023",
        "name": "Start Instances",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 460,
        "wires": [
            [
                "182ea89df8981ed8"
            ]
        ]
    },
    {
        "id": "182ea89df8981ed8",
        "type": "function",
        "z": "b4d75ba3ddc22023",
        "name": "Retrieve Configuration from global",
        "func": "const WDXExampleBuildingLightsConfiguration=  \nglobal.get(\"WDXExampleBuildingLightsConfiguration\");\nreturn WDXExampleBuildingLightsConfiguration;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 460,
        "wires": [
            [
                "6528c38d6fb2379c"
            ]
        ]
    },
    {
        "id": "0257d1867a48a701",
        "type": "comment",
        "z": "b4d75ba3ddc22023",
        "name": "WDX Example - Building Lights - Data Light Color Schema Trends",
        "info": "\n    ██╗  ██╗ ██████╗ ████████╗███████╗██╗         ██╗     ██╗ ██████╗ ██╗  ██╗████████╗███████╗     ██████╗ ██████╗ ██╗      ██████╗ ██████╗ \n    ██║  ██║██╔═══██╗╚══██╔══╝██╔════╝██║         ██║     ██║██╔════╝ ██║  ██║╚══██╔══╝██╔════╝    ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗\n    ███████║██║   ██║   ██║   █████╗  ██║         ██║     ██║██║  ███╗███████║   ██║   ███████╗    ██║     ██║   ██║██║     ██║   ██║██████╔╝\n    ██╔══██║██║   ██║   ██║   ██╔══╝  ██║         ██║     ██║██║   ██║██╔══██║   ██║   ╚════██║    ██║     ██║   ██║██║     ██║   ██║██╔══██╗\n    ██║  ██║╚██████╔╝   ██║   ███████╗███████╗    ███████╗██║╚██████╔╝██║  ██║   ██║   ███████║    ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║\n    ╚═╝  ╚═╝ ╚═════╝    ╚═╝   ╚══════╝╚══════╝    ╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═╝   ╚═╝   ╚══════╝     ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝",
        "x": 270,
        "y": 1080,
        "wires": []
    },
    {
        "id": "54f6ee4b045595e9",
        "type": "comment",
        "z": "b4d75ba3ddc22023",
        "name": "WDX Example - Building Lights - Data Light Color Schema Scripts",
        "info": "\n    ██╗  ██╗ ██████╗ ████████╗███████╗██╗         ██╗     ██╗ ██████╗ ██╗  ██╗████████╗███████╗     ██████╗ ██████╗ ██╗      ██████╗ ██████╗ \n    ██║  ██║██╔═══██╗╚══██╔══╝██╔════╝██║         ██║     ██║██╔════╝ ██║  ██║╚══██╔══╝██╔════╝    ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗\n    ███████║██║   ██║   ██║   █████╗  ██║         ██║     ██║██║  ███╗███████║   ██║   ███████╗    ██║     ██║   ██║██║     ██║   ██║██████╔╝\n    ██╔══██║██║   ██║   ██║   ██╔══╝  ██║         ██║     ██║██║   ██║██╔══██║   ██║   ╚════██║    ██║     ██║   ██║██║     ██║   ██║██╔══██╗\n    ██║  ██║╚██████╔╝   ██║   ███████╗███████╗    ███████╗██║╚██████╔╝██║  ██║   ██║   ███████║    ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║\n    ╚═╝  ╚═╝ ╚═════╝    ╚═╝   ╚══════╝╚══════╝    ╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═╝   ╚═╝   ╚══════╝     ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝",
        "x": 270,
        "y": 1120,
        "wires": []
    },
    {
        "id": "6528c38d6fb2379c",
        "type": "array-loop",
        "z": "b4d75ba3ddc22023",
        "name": "Loop Floors",
        "key": "al8a1dd6b709dd8bc5",
        "keyType": "msg",
        "reset": false,
        "resetValue": "value-null",
        "array": "floors",
        "arrayType": "msg",
        "x": 230,
        "y": 620,
        "wires": [
            [],
            [
                "e67072980c1ed84c"
            ]
        ]
    },
    {
        "id": "e67072980c1ed84c",
        "type": "function",
        "z": "b4d75ba3ddc22023",
        "name": "Process Floor",
        "func": "msg.floor=msg.payload;\nconst newMessage={\n    floor:msg.payload,\n    room:0,\n    floors:msg.floors,\n    rooms:msg.rooms,\n    payload : 0\n};\nreturn newMessage;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 720,
        "wires": [
            [
                "68ea7b3612982371"
            ]
        ]
    },
    {
        "id": "8c66447374181503",
        "type": "comment",
        "z": "b4d75ba3ddc22023",
        "name": "Process Floors",
        "info": "",
        "x": 120,
        "y": 560,
        "wires": []
    },
    {
        "id": "51f127129889e259",
        "type": "comment",
        "z": "b4d75ba3ddc22023",
        "name": "Process Rooms",
        "info": "",
        "x": 580,
        "y": 560,
        "wires": []
    },
    {
        "id": "68ea7b3612982371",
        "type": "array-loop",
        "z": "b4d75ba3ddc22023",
        "name": "Loop Rooms",
        "key": "al8a1dd6b709dd8bc5",
        "keyType": "msg",
        "reset": false,
        "resetValue": "value-null",
        "array": "rooms",
        "arrayType": "msg",
        "x": 570,
        "y": 620,
        "wires": [
            [
                "9715e9c0660b8f61"
            ],
            [
                "d43504b7ee080dbb",
                "5c4afc9b480340df"
            ]
        ]
    },
    {
        "id": "d43504b7ee080dbb",
        "type": "function",
        "z": "b4d75ba3ddc22023",
        "name": "Process Room",
        "func": "msg.room=msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 720,
        "wires": [
            [
                "68ea7b3612982371"
            ]
        ]
    },
    {
        "id": "9715e9c0660b8f61",
        "type": "function",
        "z": "b4d75ba3ddc22023",
        "name": "Continue floor",
        "func": "\n\nconst newMessage={\n    floors:msg.floors,\n    rooms:msg.rooms,\n    payload:msg.floor\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 620,
        "wires": [
            [
                "6528c38d6fb2379c"
            ]
        ]
    },
    {
        "id": "5c4afc9b480340df",
        "type": "debug",
        "z": "b4d75ba3ddc22023",
        "name": "Store Configuration",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 720,
        "wires": []
    }
]